<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files><add value="index.php" /></files>
    </defaultDocument>

    <handlers>
      <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule"
           scriptProcessor="D:\Program Files\php\php-cgi.exe" resourceType="File" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="FrontController" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- try this first -->
          <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
          <!-- if PHP doesnt get PATH_INFO, swap to:
          <action type="Rewrite" url="index.php?/{R:1}" appendQueryString="true" /> -->
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
